name: "Tests"
on:
  pull_request:
  push:
    branches:         # array of glob patterns matching against refs/heads. Optional; defaults to all
      - main          # triggers on pushes that contain changes in main
      - develop
jobs:
  test-coverage:
    runs-on: ubuntu-latest
    name: "test-coverage"
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm test
